/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.video {
  // width: 100%;
  text-align: center;
  // margin: 0 auto;


  > iframe {
    max-width: 100%; /* [1] */
    vertical-align: middle; /* [3] */
    margin-bottom: double($spacing-unit);
  }
}
