.shape {
  background-image: url("shape.png");
  position: absolute;
  left: 770px;
  top: 520px;
  width: 503px;
  height: 684px;
  z-index: 10;
}



var data = ['United States', 'Canada', 'United Kingdom', 'Afghanistan', 'Åland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Bahamas', 'Bahrain', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Indian Ocean Territory', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo-Brazzaville', 'Congo-Kinshasa', 'Cook Islands', 'Costa Rica', '$_[', 'Croatia', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Federated States of Micronesia', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Lands', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard and McDonald Islands', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthélemy', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Pierre and Miquelon', 'Saint Vincent', 'Samoa', 'San Marino', 'São Tomé and Príncipe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Sweden', 'Swaziland', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Vietnam', 'Venezuela', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'];



  <!-- CAROUSEL -->
  <section class="off  [ band  band--large  band--tint ]  mb" data-ui-component="Quotes carousel">

      <div class="carousel">

          <!-- Bottom Carousel Indicators -->
          <ol class="carousel__indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
            <li data-target="#quote-carousel" data-slide-to="3"></li>
            <li data-target="#quote-carousel" data-slide-to="4"></li>
          </ol>

          <ul class="carousel__panes">

              <li class="carousel__pane">
                  <blockquote class="pull-quote  pull-quote--banner">
                      <p>“With Centrify we can disable a user in Active Directory and they’ll be automatically disabled across the board. Morris will save money on licensing and significantly decrease the risk potential.”</p>
                      <b class="pull-quote__source">
                        <span class="caps">Russell Harlan</span>, Director of Learning at Morris Communications
                      </b>
                  </blockquote>
              </li>

              <li class="carousel__pane">
                  <blockquote class="pull-quote  pull-quote--banner">
                      <p>“With Centrify we can disable a user in Active Directory and they’ll be automatically disabled across the board. Morris will save money on licensing and significantly decrease the risk potential.”</p>
                      <b class="pull-quote__source">
                        <span class="caps">Russell Harlan</span>, Director of Learning at Morris Communications
                      </b>
                  </blockquote>
              </li>

              <li class="carousel__pane">
                  <blockquote class="pull-quote  pull-quote--banner">
                      <p>“With Centrify we can disable a user in Active Directory and they’ll be automatically disabled across the board. Morris will save money on licensing and significantly decrease the risk potential.”</p>
                      <b class="pull-quote__source">
                        <span class="caps">Russell Harlan</span>, Director of Learning at Morris Communications
                      </b>
                  </blockquote>
              </li>

              <li class="carousel__pane">
                  <blockquote class="pull-quote  pull-quote--banner">
                      <p>“With Centrify we can disable a user in Active Directory and they’ll be automatically disabled across the board. Morris will save money on licensing and significantly decrease the risk potential.”</p>
                      <b class="pull-quote__source">
                        <span class="caps">Russell Harlan</span>, Director of Learning at Morris Communications
                      </b>
                  </blockquote>
              </li>

              <li class="carousel__pane">
                  <blockquote class="pull-quote  pull-quote--banner">
                      <p>“With Centrify we can disable a user in Active Directory and they’ll be automatically disabled across the board. Morris will save money on licensing and significantly decrease the risk potential.”</p>
                      <b class="pull-quote__source">
                        <span class="caps">Russell Harlan</span>, Director of Learning at Morris Communications
                      </b>
                  </blockquote>
              </li>

          </ul>

      </div>

  </section>
  <!-- END CAROUSEL -->
