///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Brand primary
$color-gray-dark: #626262;
$color-red: #b12029;
$color-blue-brand-dark: #029089;
$color-black-brand: #383434;
$color-gray-light: #dddddd;
$color-blue-brand-light: #a3c6d4;

// Brand accent
$color-green: #b6bd00;
$color-orange: #ff9f19;
$color-blue-brand-accent-light: #4db7ca;
$color-blue-brand-accent-dark: #5d7e95;

// Custom
// $color-blue: #007893;
$color-blue: #006a85;
// $color-gray: #606b6f;

// Utility
$color-black: #000000;
$color-white: #ffffff;

// Page head
$color-masthead: $color-white;
