/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Helper classes for manipulation type on a micro level.
 *
 */

.caps {
  text-transform: uppercase;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}
